@import url(https://fonts.googleapis.com/css?family=Oswald);
body {background-color: pink;}
h1 {color: blue;}
h2 {color: purple;}
h3 {color: green;}
#para1{
  font-weight: 300;
  font-family: "Oswald";
}

#para2{
  font-weight: 400;
  font-family: "Oswald";
}

#para3{
  font-weight: 300;
  font-family: "Oswald";
}

#para4{
  font-weight: 600;
  font-family: "Oswald";
}

h2 {
  font-family: "Oswald";
}

h3 {
  font-family: "Oswald";
}

body {
  font-family: fantasy;
  font-size: 40px
}
